@model IEnumerable<DevSlop.Slop.Data.Entities.Schedule>
@{
    ViewData["Title"] = "Schedule";
}

<div class="main-container">
    <div class="cloud-image">
        <img src="~/images/devslop_high.png" />
    </div>
    <div class="content">
               <div class="content-body">
            <div class="success-text">OWASP DevSlop Speaking and Teaching Schedule</div>
             <div class="description line-2"> Learn DevSecOps with us!</div>
        </div>
    </div>
</div>


<div class="row">
    <table border=".5" width="100%">
        <tr height="30">
            <td align="center">
                <strong>What</strong>
            </td>
            <td align="center">
                <strong>When</strong>
            </td>
            <td align="center">
                <strong>Where</strong>
            </td>
            <td align="center">
                <strong>Who</strong>
            </td>
            <td align="center">
                <strong>Description</strong>
            </td>

        </tr>


        @foreach (var schedule in Model)
        {
            <tr>
                <td align="center">
                    <a href="@schedule.WhatUrl">@schedule.What</a>
                </td>
                <td align="center">
                    <a href="@schedule.WhenUrl">@schedule.When</a>
                </td>
                <td align="center">
                    <a href="@schedule.WhereUrl">@schedule.Where</a>
                </td>
                <td align="center">
                    <a href="@schedule.WhoUrl">@schedule.Who</a>
                </td>
                <td align="center">
                    <a href="@schedule.WhatUrl">@schedule.Description</a>
                </td>

            </tr>

        }




        @*<tr>
            <td align="center">
                <a href="https://www.blackhat.com/us-18/training/automated-defense-using-cloud-services-for-aws-azure-and-gcp.html">Black Hat</a>
            </td>
            <td align="center">
                August 4-7, 2018
            </td>
            <td align="center">
                <a href="https://nullcon.net/website/sydney-2018/venue.php">Las Vegas, USA</a>
            </td>
            <td align="center">
                Imran Mohammed
            </td>
            <td align="center">
                <a href="https://www.blackhat.com/us-18/training/practical-devsecops-continuous-security-in-the-age-of-cloud.html">PRACTICAL DEVSECOPS - CONTINUOUS SECURITY IN THE AGE OF CLOUD</a>
            </td>
        </tr>

        <tr>
            <td align="center">
                <a href="https://www.dianainitiative.org">Diana Initiative</a>
            </td>
            <td align="center">
                <a href="http://www.google.ca">August 9, 10, 2018</a>
            </td>
            <td align="center">
                <a href="https://www.dianainitiative.org/schedule/">Caesars Palace, Las Vegas, USA</a>
            </td>
            <td align="center">
                <a href="https://aka.ms/SheHacksPurpleBlog">Tanya Janca</a>
            </td>
            <td align="center">
                Are you ready for the worst?  Application Security Incident Response
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="https://www.meetup.com/OWASP-Ottawa/">OWASP Ottawa</a>
            </td>
            <td align="center">
                August 16, 2018, 5:00-8:00 pm
            </td>
            <td align="center">
                <a href="https://www.shopify.ca/">Shopify, Ottawa, Canada</a>
            </td>
            <td align="center">
                <a href="https://aka.ms/SheHacksPurpleBlog">Tanya Janca</a>
            </td>
            <td align="center">
                Azure Security Hands-On Workshop
            </td>
        </tr>


        <tr>
            <td align="center">
                <a href="https://nullcon.net/website/sydney-2018/training.php">Nullcon Sydney</a>
            </td>
            <td align="center">
                September 21-22, 2018
            </td>
            <td align="center">
                <a href="https://nullcon.net/website/sydney-2018/venue.php">Sydney, Australia</a>
            </td>
            <td align="center">
                Imran Mohammed
            </td>
            <td align="center">
                <a href="https://www.owasp.org/index.php/OWASP_DevSecOps_Studio_Project">DevSecOps Studio Training</a>
            </td>
        </tr>

        <tr>
            <td align="center">
                AppSec Jakarta
            </td>
            <td align="center">
                October 2-3, 2018
            </td>
            <td align="center">
                Jakarta, Indonesia
            </td>
            <td align="center">
                Imran Mohammed
            </td>
            <td align="center">
                <a href="https://www.owasp.org/index.php/OWASP_DevSecOps_Studio_Project">DevSecOps Studio Training</a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="https://sector.ca/">SecTor</a>
            </td>
            <td align="center">
                October 2-3, 2018
            </td>
            <td align="center">
                <a href="https://sector.ca/travel/">METRO TORONTO CONVENTION CENTER, Toroto, Canada</a>
            </td>
            <td align="center">
                <a href="https://aka.ms/SheHacksPurpleBlog">Tanya Janca</a>
            </td>
            <td align="center">
                <a href="https://sector.ca/speakers/">Why can't we make secure software?</a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="https://cyberconference.com.au">AISA CYBER CON 2018</a>
            </td>
            <td align="center">
                October 9-11, 2018
            </td>
            <td align="center">
                <a href="https://cyberconference.com.au">
                    Australian Cyber Conference 2018
                    Melbourne
                </a>
            </td>
            <td align="center">
                <a href="https://aka.ms/SheHacksPurpleBlog">Tanya Janca</a>
            </td>
            <td align="center">
                <a href="https://www.slideshare.net/TanyaJanca/security-learns-to-sprint">Security Learns to Sprint: DevSecOps</a> <br /> "Azure Security Hands-On Workshop"
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="https://vslive.com/ECG/live360events/Events/Orlando-2018/VSLive.aspx">Visual Studiop Live, Orlando</a>
            </td>
            <td align="center">
                December 2-7, 2018
            </td>
            <td align="center">
                <a href="https://sector.ca/travel/">
                    ROYAL PACIFIC RESORT AT UNIVERSAL, ORLANDO, FL, USA
                </a>
            </td>
            <td align="center">
                <a href="https://aka.ms/SheHacksPurpleBlog">Tanya Janca</a>
            </td>
            <td align="center">
                <a href="https://live360events.com/Events/Orlando-2018/Sessions/Wednesday/VSW04-OWASP-DevSlop-DevSecOps-with-VSTS-Azure.aspx">OWASP DEVSLOP: DEVSECOPS WITH VSTS & AZURE</a>,<br />
                <a href="https://live360events.com/Events/Orlando-2018/Sessions/Thursday/VSH15-Pushing-Left-Like-a-Boss-Application-Security-Foundation.aspx">Pushing Left, Like a Boss!</a>,<br />
                <a href="https://live360events.com/events/orlando-2018/sessions/pages/vslive.aspx?_ga=2.221518616.1015462843.1531497102-1994641414.1531497102&EventDay=6">PANEL DISCUSSION: DevSecOps</a>

            </td>
        </tr>*@

    </table>







    


    <br><br>

    <h4>Past Events</h4>

    <div class="row">
        <table border=".5" width="100%">
            <tr height="30">
                <td align="center">
                    <strong>What</strong>
                </td>
                <td align="center">
                    <strong>When</strong>
                </td>
                <td align="center">
                    <strong>Where</strong>
                </td>
                <td align="center">
                    <strong>Who</strong>
                </td>
                <td align="center">
                    <strong>Description</strong>
                </td>

            </tr>
            <tr>
                <td align="center">
                    <a href="https://owaspsummit.org">Open Security Summit</a>
                </td>
                <td align="center">
                    June 4-6, 2018
                </td>
                <td align="center">
                    <a href="https://owaspsummit.org/website/venue.html">WOBURN FOREST CENTER PARCS, BEDFORDSHIRE, England</a>
                </td>
                <td align="center">
                    <a asp-area="" asp-controller="Home" asp-action="Team">Nicole Becher, Tanya Janca, Imran Mohammed, Franziska Bühler</a>
                </td>
                <td align="center">
                    <a href="https://owaspsummit.org">Several working sessions about all the different modules of OWASP DevSlop. </a>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="https://www.meetup.com/de-DE/DevOps-Bern/events/248088984/">DevOps Meetup</a>
                </td>
                <td align="center">
                    June 19, 2018
                </td>
                <td align="center">
                    <a href="https://nullcon.net/website/sydney-2018/venue.php">Bern, Switzerland</a>
                </td>
                <td align="center">
                    Franziska Bühler
                </td>
                <td align="center">
                    <a href="https://www.meetup.com/de-DE/DevOps-Bern/events/248088984/">
                        ***Web Application Firewall und deren Tests in der CI Pipeline***  Talk is in German.
                    </a>
                </td>
            </tr>

            <tr>
                <td align="center">
                    <a href="https://nullcon.net/website/bangalore-2018/venue.php">Nullcon Bangalore</a>
                </td>
                <td align="center">
                    June 21-23, 2018
                </td>
                <td align="center">
                    <a href="https://nullcon.net/website/sydney-2018/venue.php">Bangalore, India</a>
                </td>
                <td align="center">
                    Imran Mohammed
                </td>
                <td align="center">
                    <a href="https://nullcon.net/website/bangalore-2018/training/practical-devsecops-continuous-security-in-the-age-of-cloud.php">
                        PRACTICAL DEVSECOPS - CONTINUOUS SECURITY IN THE AGE OF CLOUD
                        IMRAN A MOHAMMED & RAGHUNATH G
                    </a>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="https://www.spaconference.org/">SPA Conference</a>
                </td>
                <td align="center">
                    July 1, 2018
                </td>
                <td align="center">
                    <a href="https://www.spaconference.org/spa2018/location.html">BCS London Office, London, England</a>
                </td>
                <td align="center">
                    <a href="https://aka.ms/SheHacksPurpleBlog">Tanya Janca</a>
                </td>
                <td align="center">
                    <a href="https://spaconference.org/spa2018/sessions/session781.html">How to Hack Your Own Apps, workshop </a>
                </td>
            </tr>

            <tr>
                <td align="center">
                    <a href="https://2018.appsec.eu">AppSec EU</a>
                </td>
                <td align="center">
                    <a href="https://2018.appsec.eu/london/venue">July 3-4, 2018</a>
                </td>
                <td align="center">
                    <a href="https://2018.appsec.eu/london/venue">The Queen Elizabeth Center (QEII), London, England</a>
                </td>
                <td align="center">
                    Imran Mohammed
                </td>
                <td align="center">
                    <a href="https://2018.appsec.eu/program/trainings">Practical DevSecOps: Continuous Security in the age of cloud by A. Imran Mohammed and Raghunath Gopinath </a>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="https://2018.appsec.eu">AppSec EU</a>
                </td>
                <td align="center">
                    July 5-6, 2018
                </td>
                <td align="center">
                    <a href="https://2018.appsec.eu/london/venue">The Queen Elizabeth Center (QEII), London, England</a>
                </td>
                <td align="center">
                    <a href="http://sched.co/EgY6">Tanya Janca</a>
                </td>
                <td align="center">
                    <a href="https://www.slideshare.net/TanyaJanca/security-is-everybodys-job-literally">Security is Everybody's Job...  Literally </a>
                </td>
            </tr>

            <tr>
                <td align="center">
                    <a href="https://owasp.org">OWASP Montreal</a>
                </td>
                <td align="center">
                    <a href="http://www.google.ca">May 16, 2018, 12:00 noon</a>
                </td>
                <td align="center">
                    <a href="http://www.google.ca">Marché Bonsecours, 350 St-Paul Street East Old Montreal, Quebec, Canada</a>
                </td>
                <td align="center">
                    <a href="https://aka.ms/SheHacksPurpleBlog">Tanya Janca</a>
                </td>
                <td align="center">
                    <a href="http://www.slideshare.com">Insecurity in Information Technology</a>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="https://www.nsec.io">NorthSec </a>
                </td>
                <td align="center">
                    <a href="https://www.nsec.io/schedule/#session-2018142">May 18, 2018, 2:00 pm</a>
                </td>
                <td align="center">
                    <a href="https://www.nsec.io/venue/"> Marché Bonsecours, 350 St-Paul Street East, Old Montreal, Quebec, Canada</a>
                </td>
                <td align="center">
                    <a href="https://www.nsec.io/speakers/">Nicole Becher & Tanya Janca</a>
                </td>
                <td align="center">
                    <a href="https://www.nsec.io/schedule/#session-2018142">Hacking APIs and the MEAN Stack, Workshop </a>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="https://www.dpi-canada.com/program-1">Professional Development Week </a>
                </td>
                <td align="center">
                    <a href="https://www.dpi-canada.com/program-1">May 24, 2018, 12:00 noon</a>
                </td>
                <td align="center">
                    <a href="https://www.dpi-canada.com/theme-dates-and-location">Shaw Center, Ottawa, Canada</a>
                </td>
                <td align="center">
                    <a href="https://aka.ms/SheHacksPurpleBlog">Tanya Janca</a>
                </td>
                <td align="center">
                    <a href="http://www.slideshare.com">Insecurity in Information Technology</a>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="https://opencloudday.ch/program/">Open Cloud Day</a>
                </td>
                <td align="center">
                    May 30, 2018
                </td>
                <td align="center">
                    <a href="https://opencloudday.ch/location/">Zurich, Winterthur, Switzerland</a>
                </td>
                <td align="center">
                    Franziska Bühler
                </td>
                <td align="center">
                    <a href="https://opencloudday.ch/program/web-application-firewall-friend-of-your-devops-chain/">WEB APPLICATION FIREWALL - FRIEND OF YOUR DEVOPS CHAIN? </a>
                </td>
            </tr>
            <td align="center">
                <a href="https://pycon.sg/schedule/">PyCon Singapore</a>
            </td>
            <td align="center">
                May 30, 2018
            </td>
            <td align="center">
                <a href="https://pycon.sg/venue/">Singapore</a>
            </td>
            <td align="center">
                Imran Mohammed
            </td>
            <td align="center">
                DevSecOps Studio
            </td>
            </tr>


            <tr>
                <td align="center">
                    <a href="https://securityfest.com">SecurityFest</a>
                </td>
                <td align="center">
                    <a href="http://www.google.ca">June 1, 2018</a>
                </td>
                <td align="center">
                    <a href="https://securityfest.com/venue/">Eriksbergshallen, Gothenburg, Sweden</a>
                </td>
                <td align="center">
                    <a href="https://aka.ms/SheHacksPurpleBlog">Tanya Janca</a>
                </td>
                <td align="center">
                    <a href="https://securityfest.com/speakers-at-security-fest-2018/">Insecurity in Information Technology </a>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="https://www.devopsdays.org/events/2018-zurich/welcome/">DevOpsDays Zurich</a>
                </td>
                <td align="center">
                    <a href="https://www.devopsdays.org/events/2018-zurich/speakers/">May 2, 2018</a>
                </td>
                <td align="center">
                    Winterthur, Switzerland
                </td>
                <td align="center">
                    <a href="https://aka.ms/SheHacksPurpleBlog">Tanya Janca</a>
                </td>
                <td align="center">
                    <a href="https://www.slideshare.net/TanyaJanca/security-is-everybodys-job-literally">Security is everybody's job... Literally</a>
                </td>

            </tr>
            <tr>
                <td align="center">
                    <a href="https://www.devopsdays.org/events/2018-zurich/welcome/">DevOpsDays Zurich</a>
                </td>
                <td align="center">
                    <a href="https://www.devopsdays.org/events/2018-zurich/program/franziska-buehler/">May 2, 2018</a>
                </td>
                <td align="center">
                    Winterthur, Switzerland
                </td>
                <td align="center">
                    Franziska Bühler
                </td>
                <td align="center">
                    <a href="https://www.devopsdays.org/events/2018-zurich/program/franziska-buehler/">
                        Web Application Firewall - Friend Of Your DevOps Chains
                    </a>
                </td>

            </tr>
            <tr>
                <td align="center">
                    <a href="https://www.devopsdays.org/events/2018-zurich/welcome/">DevOpsDays Zurich</a>
                </td>
                <td align="center">
                    <a href="https://www.devopsdays.org/events/2018-zurich/speakers/">May 2, 2018</a>
                </td>
                <td align="center">
                    Winterthur, Switzerland
                </td>
                <td align="center">
                    <a href="https://www.devopsdays.org/events/2018-zurich/program/ignite-talk-by-nicole-becher/">Nicole Becher</a>
                </td>
                <td align="center">
                    <a href="https://www.devopsdays.org/events/2018-zurich/program/ignite-talk-by-nicole-becher/">No REST For Security: Hacking API's</a>
                </td>

            </tr>
            <tr>
                <td align="center">
                    <a href="https://www.devopsdays.org/events/2017-zurich/welcome/">DevOpsDays Zurich</a>
                </td>
                <td align="center">
                    <a href="https://www.devopsdays.org/events/2017-zurich/speakers/">May 3, 2018</a>
                </td>
                <td align="center">
                    Winterthur, Switzerland
                </td>
                <td align="center">
                    <a href="https://www.devopsdays.org/events/2018-zurich/program/workshop-with-tanya-janca-and-nicole-becher/">Nicole Becher and Tanya Janca</a>
                </td>
                <td align="center">
                    <a href="https://www.devopsdays.org/events/2018-zurich/program/workshop-with-tanya-janca-and-nicole-becher/">How to hack your own apps! The Workshop</a>
                </td>

            </tr>

        </table>
    
</div>