@{
    ViewData["Title"] = "DevSlop Team";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>



<div class="row">
    <div class="col-md-4">
        <h2>Nicole Becher </h2>
        <p>
                 <img src="~/images/NicoleBecher.jpg" />
    
            <br>
            Nicole Becher is professional information security consultant. She has been in the cybersecurity space for over ten years working mainly in offensive security capacities. She manages penetration testing and red teams, forensics and incident responders, and malware reverse engineering teams. She has also worked on the cyber policy side for a U.S. Regulator, New York State Department of Financial Services, where she helped develop the first-in-nation regulatory framework for assessing the cybersecurity of large and complex financial institutions.  She also helped draft the first-in-nation  regulatory and licensing framework for Bitcoin and virtual currencies. Nicole is also as an Adjunct Instructor at New York University, where she teaches courses on offensive and defensive computer security, network security, web application security, and computer forensics. She is a chapter leader for OWASP Brooklyn (Open Web Application Security Project) and has presented both talks and trainings, at various conferences around the world on topics related to her research interests. These include web application security, malware analysis, economics of cybersecurity, cybercrime, and international cyberlaws and regulation.  She has also advised Hollywood scriptwriters on cybersecurity and hacking. She is a Cybersecurity fellow of New America, a Washington DC-based think-tank, and is a fellow of the Madison Policy Forum, a cybersecurity-focused policy group bridging military, government and industry. She is a Certified Information Systems Security Professional (CISSP).  Nicole is part of the Conservation SMART Technology Security Council is very active in the Animal Rescue and conservation technology movements. 
        </p>
        <br/>
        <p>
        <strong>Twitter:</strong> <a href="https://twitter.com/thedeadrobots">@thedeadrobots</a><br />
        <strong>GitHub:</strong> <a href="https://github.com/thedeadrobots">https://github.com/thedeadrobots</a>
        </p>    </div>
    <div class="col-md-4">
        <h2>Tanya Janca</h2>
         <img src="~/images/TanyaJ.jpg" />
        <p>Tanya Janca is a senior cloud advocate for Microsoft, specializing in application security; evangelizing software security and advocating for developers through public speaking, her open source project OWASP DevSlop, and various forms of teaching via workshops, blogs and community events.  As an ethical hacker, OWASP Project and Chapter Leader, software developer, effective altruist and professional computer geek of 20+ years, she is a person who is truly fascinated by the ‘science’ of computer science.</p>
        <br/>
        <p>
        <strong>Twitter:</strong> <a href="https://twitter.com/shehackspurple">@SheHacksPurple</a><br />
        <strong>GitHub:</strong> <a href="https://github.com/shehackspurple">https://github.com/shehackspurple</a>
        <strong>Blog:</strong> <a href="https://medium.com/@shehackspurple">https://medium.com/@shehackspurple</a>
        <strong>Slides:</strong> <a href="https://www.slideshare.net/TanyaJanca">https://www.slideshare.net/TanyaJanca</a>
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Imran Mohammed</h2>
         <img src="~/images/Mohammed-Imran.jpg" />
        <br>
        Imran “secfigo” Mohammed is a seasoned security professional with 8 years of experience in helping organizations with their Information Security Programs. He has a diverse background in R&D, consulting and product-based industries with a passion to solve complex security programs. Imran is the founder of Null Singapore, the largest information security community in Singapore where he has organized more than 60 events & workshops to spread security awareness. He was also nominated as community star for being the go-to person in the community whose contribution and knowledge sharing has helped many professionals in the security industry.        <br/>
        <p>
        <strong>Twitter:</strong> <a href="https://twitter.com/secfigo">@secfigo</a><br />
        <strong>GitHub:</strong> <a href="https://github.com/secfigo">https://github.com/secfigo</a>
        <strong>Blog:</strong> <a href="http://secfigo.com">http://secfigo.com</a>
            
            
        </p>    </div>
</div>


<br> <br> 

<h2> Team Members </h2>
<address>
    <strong>Franziska Buehler:</strong> <a href="mailto:Franziska.Buehler@owasp.org">Franziska.Buehler@owasp.org</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/Owasp_DevSlop">@OWASP_DevSlop</a><br /> 
    <img src="~/images/franziska-buehler.jpg" />
        <br />

    Franziska Bühler works as a Systems Engineer for the Swiss Post, where she builds and enhances the reverse proxy platform in a DevOps manner. Her main areas of responsibility are web server security and everything related to the access layer. In addition to building or reorganizing platforms, she also writes and implements security policies. She writes scripts and programs to automatically rebuild and test the platform every night and to monitor policy compliance.
        <br />    <br />
In her spare time Franziska Bühler likes to read technical books about security, DevOps or HTTP. If she is not reading, she disassembles highly optimized regular expressions as described in her blogpost. Or she helps as a developer and committer to enhance the OWASP ModSecurity Core Rule Set. The Core Rule Set is a rule set for the ModSecurity web application firewall. See <a href="https://coreruleset.org">coreruleset.org</a>.
    <br />
    
   
</address>

<address>
    <strong>Twitter:</strong> <a href="https://twitter.com/Owasp_DevSlop">@OWASP_DevSlop</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/DevSlop">https://github.com/DevSlop</a>
    <strong>OWASP:</strong> <a href="https://www.owasp.org/index.php/OWASP_DevSlop_Project">DevSlop Wiki Page</a>
</address>
